* {
  box-sizing: border-box;
  }
html * {
    font-family: 'Rubik', sans-serif;
    background-color: #171717;
}

body,p,h1,h2,h3,h4,h5 {
  color: rgb(255, 255, 255);
}

body,p {
  font-weight: 300;
}

#card {
  border-radius: 10px;
  background: #171717;
  box-shadow: 5px 5px 8px #030303, -5px -5px 8px #2b2b2b;
  margin: 10px;
  padding: 10px;
}

#box {
  border-radius: 10px;
  background: #171717;
  margin: 10px;
  padding: 10px;
}

th {
  border: 1px solid;
  border-color: rgb(180, 180, 180);
  border-collapse: collapse;
  background-color: #414040; 
  height: 30px;
  text-align: left;
  padding-left: 5px;
  padding-right: 30px;
  color: #ffff;
}
table, td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: rgb(180, 180, 180);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 30px;
  color: #ffff
}

#icon {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
}

a:link {
  color: #6600cc;
}

a:visited {
  color: rgb(128, 128, 128);
}

a:hover {
  color: #c4a2e6;
}

a:active {
  color: #2d0158;
} 

.col-xs {width: 18%;}
.col-sm {width: 36%;}
.col-md {width: 47%;}
.col-lg {width: 76%;}
.col-xl {width: 98%;}

[class*="col-"] {
  float: left;
  padding: 10px;
  border: 0px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  }