html * {
    font-family: 'Rubik', sans-serif;
    background-color: #1e1e1e;
}

body,p,h1,h2,h3,h4,h5 {
  color: rgb(242, 242, 242);
}

body,p {
  font-weight: 300;
}

#row {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px;
  padding: 10px;
}

#card {
  border-radius: 10px;
  background: #1e1e1e;
  box-shadow: 5px 5px 8px #171717, -5px -5px 8px #2e2e2e;
  margin: 10px;
  padding: 10px;
}

#box {
  border-radius: 10px;
  background: #1e1e1e;
  margin: 10px;
  padding: 10px;
}

th {
  border: 1px solid;
  border-color: rgb(180, 180, 180);
  border-collapse: collapse;
  background-color: #484848; 
  height: 30px;
  text-align: left;
  padding-left: 5px;
  padding-right: 30px;
}
table, td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: rgb(180, 180, 180);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 30px;
}

#icon {
  position: fixed;
  border-radius: 10px;
  background: #6600cc;
  box-shadow: 5px 5px 8px #494949, -5px -5px 8px #101010;
  bottom: 0;
  right: 0;
  padding: 5px;
  margin: 5px;
}

a:link {
  color: #6600cc;
}

a:visited {
  color: rgb(128, 128, 128);
}

a:hover {
  color: #c4a2e6;
}

a:active {
  color: #7e25d6;
} 